<div class="row">
            <div class="col-md-11 col-md-push-1">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3 class="text-left">
                            <u>Contribuendo ad un progetto imprenditoriale innovativo e di grande impatto sociale,
                                avrai:</u>
                        </h3>
                        <ul>
                            <li>
                                La possibilità di incrementare il profitto mensile a differenza del classico contratto a
                                lungo termine
                            </li>
                            <li>
                                La libertà contrattuale con facoltà di recedere dal contratto con un semplice preavviso
                            </li>
                            <li>
                                La manutenzione costante del tuo immobile grazie agli interventi della Cooperativa I sei
                                petali
                            </li>
                        </ul>
                        <p>
                            <strong>I sei petali, mediante il suo personale professionale e accogliente, farà per
                                te:</strong>
                        <ul>
                            <li>
                                Gestione e selezione delle richieste, individuazione del cliente e relativa prenotazione
                            </li>
                            <li>
                                Ricevimento e assistenza al cliente durante il soggiorno
                            </li>
                            <li>
                                Servizio di Check-in e Servizio di Check-out
                            </li>
                            <li>
                                Pulizie, fornitura, cambio e lavaggio biancheria
                            </li>
                        </ul>

                        </p>

                        <h4>Chiamaci al numero <a href="tel:0236516104">02.36516104</a> oppure scrivici all’indirizzo
                            <a href="mailto:iseipetali@iseipetali.it">iseipetali@iseipetali.it</a> o compila il format
                            sottostante</h4>
                    </div>
                </div>


            </div>
        </div>