<div id="register-container">
  <p>
    If you happen to have an account with any of the below
    services you can register easily by just clicking on the icon.
  </p>
  {% include "accounts/social_links.html" %}
  <p>
    If you don't have an account with any of those services, or you
    prefer to register with a different username, then please use the form below.
  </p>
  {% include "registration/register_form.html" %}
  <p>A confirmation email will be sent to the specified email address.</p>
</div>
